.flex.flex-flow-inline
  div(style="padding:0 1em;")
    h3 AWS Access Keys

    div
      label(for="$ctrl.aws.accessKeyId") accessKeyId
      div
        input(ng-model="$ctrl.aws.accessKeyId" id="$ctrl.aws.accessKeyId")
      br

    div
      label(for="$ctrl.aws.secretAccessKey") secretAccessKey
      div
        input(ng-model="$ctrl.aws.secretAccessKey" id="$ctrl.aws.secretAccessKey")
      br
    
    div
      label(for="$ctrl.aws.region") region
      div
        input(ng-model="$ctrl.aws.region" id="$ctrl.aws.region")
      br
  
  div(style="padding:0 1em;")
    h3 S3 Attributes
    
    div
      label(for="$ctrl.s3.Bucket") Bucket
      div
        input(ng-model="$ctrl.s3.Bucket" id="$ctrl.s3.Bucket")
      br

    div
      label(for="$ctrl.s3.Key") Key (file-name)
      div
        input(ng-model="$ctrl.s3.Key" id="$ctrl.s3.Key" placeholder="S3 save path")
      br

    div
      label(for="$ctrl.mode") Mode
      .form-control-static
        input(type="checkbox" ng-click="$ctrl.mode='getObject'" id="$ctrl.mode0" ng-checked="$ctrl.mode=='getObject'")
        label(for="$ctrl.mode0") &nbsp;getObject
        |&nbsp;&nbsp;&nbsp;
        input(type="checkbox" ng-click="$ctrl.mode='putObject'" id="$ctrl.mode1" ng-checked="$ctrl.mode=='putObject'")
        label(for="$ctrl.mode1") &nbsp;putObject
  
  .flex.align-bottom.fx-fade-up.fx-stagger-200(style="padding:0 1em;width:200px;" ng-show="$ctrl.mode=='getObject'")
    button(type="button" style="width:100%" ng-click="$ctrl.getObject()") getObject

  .fx-fade-up.fx-stagger-200(style="padding:0 1em;" ng-show="$ctrl.mode=='putObject'")
    h3 Kms Params
    
    div
      label(for="$ctrl.s3.KmsParams.KeyId") KeyId
      div
        input(ng-model="$ctrl.s3.KmsParams.KeyId" id="$ctrl.s3.KmsParams.KeyId")
      br

    div
      label(for="$ctrl.s3.KmsParams.KeySpec") KeySpec
      div
        input(ng-model="$ctrl.s3.KmsParams.KeySpec" id="$ctrl.s3.KmsParams.KeySpec")
      br
  
  .fx-fade-up.fx-stagger-200(style="padding:0 1em;" ng-show="$ctrl.mode=='putObject'")
    h3
      label(for="$ctrl.s3.Body") Body Payload
    div(style="width:300px")
      textarea(ng-model="$ctrl.s3.Body" id="$ctrl.s3.Body" style="height:200px;width:100%" placeholder="Data that will be stored in AWS S3")
      button(type="button" style="width:100%;margin:0;display:block;" ng-click="$ctrl.putObject()") putObject

.fx-fade-up.fx-stagger-200(ng-show="$ctrl.fetching")
  |Loading...

.fx-fade-up.fx-stagger-200(ng-show="$ctrl.resultOfGet")
  hr
  h3 Result of getObject
  textarea(style="height:150px;width:100%" ng-model="$ctrl.resultOfGet")
hr
div
  h2 Save Configuration
  h4 Store Config in Browser localStorage Memory
  p Save yourself time, next time, and save your above configuration

  .flex
    button(type="button" style="flex:1 1 10em" ng-click="$ctrl.saveConfig()") save config
    button(type="button" style="flex:1 1 10em" ng-click="$ctrl.reloadConfig()") reload saved
    button(type="button" style="flex:1 1 10em" ng-click="$ctrl.clearConfig()") clear saved