@import "jspm:ack-angular/scss/styles";

html,body{font-family:Helvetica;font-size:16px}
.form-control-static {padding:.6em;font-size:.9em;}
input,textarea,button {padding:.8em;font-size:.8em;}
input,textarea {min-width:200px}
* {box-sizing:content-box}