doctype html
html(lang="en" ng-app="test-app")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0")
    script(src="./test-app.js")
    link(href="./styles.css" type="text/css" rel="stylesheet")
  body
    h2 ack-aws-s3-universal Test
    test-form
