doctype html
html(lang="en" ng-app="test-app")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0")
    script(src="./test-app.js")
    link(href="./styles.css" type="text/css" rel="stylesheet")
  body
    h2.margin-bottom-0 ack-aws-s3-universal Browser Test
    .flex-wrap.child-margin.flex-valign-center
        p.text-grey-2x Fill out the form below with your AWS S3 details
        p.text-xs.text-warning.opacity-half Be sure <a href="https://github.com/AckerApple/ack-aws-s3-universal#s3-browser-cors-warning">CORS is enabled</a> on your S3 bucket
    test-form